{% extends 'Tienda/base.html' %}
<meta charset="UTF-8">
<meta name="google-site-verification" content="u_FN6HwmRaCKPZZU7loZaSyLZUSC4IDUTGYKGaBDR1o" />
<meta name="keywords" content="libreria,libreria online,libreria pilar,productos de oficina en pilar,
todo en computacion en pilar,todo en informatica en pilar,
libreria comercial,productos de libreria,remas de papel,cestos papeleros,expendedor de numeros
,marcador px-20,abrochadoras ,adhesivos,voligoma,clips,cartuchos para impresoras">
{% load static %}

{% block js %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
    $(document).ready(function() {
      $('.slider').bxSlider({
          mode: 'fade',//horizontal, vertical, fade
          auto: true,
          pause: 2000
      });
    });
</script>
{% endblock %}


{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-center align-items-center pt-2  text-center  m-auto" id="intro">
    <h1 class="pt-3 fs-2 ">Oficenter insumos de libreria y computacion  <span class="text-primary">en Pilar<span/></h1>
     <p class="p-3  fs-4">
         <span class="text-primary">Los mejores precios </span> En nuestra tienda encontras todo lo que necesitas       
     </p>   
</section>
    <div class="carousel-slide" id="mainSlider"data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'Tienda/img/flyerescolar.jpg' %}" 
                 alt="" class="d-block w-100">
            </div>
            <div class="carousel-item ">
                <img src="{% static 'Tienda/img/entregas.jpg' %}" 
                 alt="" class="d-block w-100">
            </div>
            <div class="carousel-item ">
                <img src="{% static 'Tienda/img/monitor.jpg' %}" 
                 alt="" class="d-block w-100">
            </div>
        </div>

    </div>
{% comment %} <div class="slider ">
     <div>
        <img src="{% static 'Tienda/img/banner/banner2.png' %}"  alt="">  
    </div>
    <div> 
        <img src="{% static 'Tienda/img/banner/banner3.png' %}" alt="">
    </div>
    <div>
        <img src="{% static 'Tienda/img/banner/banner4.png' %}" alt="">
    </div>
</div> {% endcomment %}

{% load humanize %}

<h2>Productos</h2>
<div class="productos">
    {% for p in productos %}
    <div class="producto">

        <div class="contenedor_producto">
            {% if p.imagen %}
            <img src="{{ p.imagen.url }}" alt="imagen producto">
            {% endif %}
            <div class="detalle">
                <h5>{{ p.marca | capfirst }}</h5>
                <h2>{{ p.nombre | title }}</h2>
                <h3>${{ p.precio | intcomma}}</h3>
            </div>

        </div>

    </div>
    {% endfor %}

</div>


{% endblock %}