<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oficenter</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    {% load static %} <!-- cargando hoja de estilos con este tag -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
    
</head>
<body>

    
    <header id="header">
      <!--<img class="menu" src="{% static 'app/img/menuiconwhite.png' %}" alt="menu" id="menu">
        <div class="contenedor_logo">
            <img  class="logo"  src="{% static 'app/img/logo 0.jpg' %}" alt="logo">
        </div>

        <div>
            --> 
            <!--<nav id="nav">
                <ul>
                    <li>
                        <a href="{% url 'home' %}"> Inicio </a>
                    </li>
                    <li>
                        <a href="{% url 'contacto' %}">Contacto</a>
                    </li>
                    <li><a href="{% url 'galeria' %}">Galería</a></li>
                </ul>
            </nav>-->

            
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2B6CB0;">
               
                <img  class="logo"  src="{% static 'app/img/logo 0.jpg' %}" alt="logo">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
 
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'galeria' %}">Galería</a>
                    </li>
                  </ul>
                
                </div>
              </nav>
        

    </header>

    <div id="contenido">
    
        {% block content %}

        {% endblock %}

    </div>


    <footer>
        <div class="marcas">
            <img src="{% static 'app/img/footer/apple.png' %}" alt="apple">
            <img src="{% static 'app/img/footer/lenovo.png' %}" alt="lenovo">
            <img src="{% static 'app/img/footer/microsoft.png' %}" alt="microsoft">
            <img src="{% static 'app/img/footer/samsung.png' %}" alt="samsung">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4651.614471618889!2d-58.67696065124316!3d-34.47275128999407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca30fd310ef8d%3A0xa7a114df98be285!2sEdificio%20Paralelo%2050!5e0!3m2!1sen!2sar!4v1635084399144!5m2!1sen!2sar"   height="50px"  allowfullscreen="" loading="lazy"></iframe>

        </div>
       
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script>
        $(document).ready(function() {
          $('.slider').bxSlider({
              mode: 'fade',//horizontal, vertical, fade
              auto: true,
              pause: 2000
          });
        });
    </script>

</body>
</html>